.primary-grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: auto;

  grid-template-areas:
          "head history"
          "line history"
          "orders history"
          "run-button history"
          "output history";

  &--head-input {
    background-color: antiquewhite;
    grid-area: head;
  }
  &--line-input {
    background-color: aquamarine;
    grid-area: line;
  }
  &--orders-input {
    background-color: bisque;
    grid-area: orders;
  }
  &--proceed-button {
    background-color: blueviolet;
    grid-area: run-button;
  }

  &--output {
    background-color: cadetblue;
    grid-area: output;
  }
  &--history {
    background-color: darkgrey;
    grid-area: history;
  }
}

